* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.nav-bar {
  background-color: red;
  width: 100%;
  height: 10%;
}

.sidebar {
  background-color: blue;
  width: 25%;
  height: 90%;
}

.content {
  background-color: green;
  width: 75%;
  height: 90%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.nav-bar, .sidebar, .content {
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 2vmin;
  color: white;
  font-size: 1.5rem;
}

.content p {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: justify;
}